<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button> 
      </form>
    </li>
  <% end %>
</ul>

<div>
  <a href='/new'>New document</a>
</div>

<div>
  <form class="inline" action="/users/signout" method="post">
    <label for="logout"><em>Signed in as <%= session[:username] %></em></label>
    <button type="submit">Sign Out</button>
  </form>
</div>
